aclocal4.mk
test/config.ini

# Prerequisites
*.d

*.exe
src/Actinium
src/Actiniumd
src/Actinium-cli
src/Actinium-tx
src/test/test_actinium
src/test/test_actinium_fuzzy
src/qt/test/test_actinium-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libbitcoinconsensus.pc
libtool
share/qt/Info.plist
share/setup.nsi
src/config/bitcoin-config.h
src/qt/qrc_bitcoin_locale.cpp
src/tor.timestamp*
.github
.tx

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# deps dirs 
.deps
src/.deps
src/test/.deps
src/qt/.deps
src/qt/test/.deps

# binaries
Actinium-qt
Actinium-tx
Actinium-cli
Actinium-Qt.dmg
Actiniumd

# Qt files
moc_*
*.qm
Makefile
Actinium-qt
Actinium-Qt.app
background.tiff*

# Unit-tests
Makefile.test
Actinium-qt_test

# Resources cpp
qrc_*.cpp
# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_litecoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

# local files
copybins.sh
autom4te.cache/
